<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">code@Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mahasiswa">Mahasiswa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/jurusan">Jurusan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pendaftaran">Pendaftaran</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/users/logout">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>  